<div class="row">
	{{#each notes}}
		<div class="column note">
			<h3>{{title}}</h3>
			<p>{{details}}</p>
		</div>
	{{/each}}	
</div>




{{!-- {{#each fruits}}
	<p>Fruit Name: {{ this }}</p>
{{/each}}


{{#each data}}
	<p>{{ this }}</p>
{{/each}} --}}


{{!-- {{#each people}}
	<p>Name: {{ name }}</p>
	<p>Age: {{ age }}</p>
{{/each}} --}}